# -------------------------------
# OS / IDE files
# -------------------------------
.DS_Store
.vscode/

# ===============================
# Jupyter notebooks checkpoints
# ===============================
.ipynb_checkpoints/