# -------------------------------
# OS / IDE files
# -------------------------------
.DS_Store
.gitignore
.vscode/

# -------------------------------
# Jupyter notebooks checkpoints
# -------------------------------
.ipynb_checkpoints/